@{
    ViewData["Title"] = "Verify";
}
<link rel="stylesheet" href="~/css/register.css" />

<div class="register-container">
    <div class="register-box">
        <h2>@ViewData["Title"]</h2>
        <form id="register-form">
            <div class="form-group">
                <label>Code</label>
                <input name="Code" class="form-control" placeholder="Enter active code" />
            </div>

            <button type="button" id="verify-btn" class="btn btn-primary btn-block">Verify</button>
        </form>
    </div>
</div>
<div class="overlay" id="loading-overlay">
    <div class="spinner"></div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#verify-btn").click(function (e) {
            e.preventDefault();
            const registeredEmail = localStorage.getItem('registeredEmail');
            console.log(registeredEmail);
            const data = {
                Email: registeredEmail,
                Code: $("input[name='Code']").val(),
            };
            console.log(data) 

            $("#loading-overlay").css('display', 'flex');

            $.ajax({
                url: 'http://localhost:5224/api/Authentication/Verify',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    $("#loading-overlay").hide();
                    localStorage.removeItem('registeredEmail');
                    window.location.href = 'http://localhost:5050/Users/Login';
                },
                error: function (xhr, status, error) {
                    let errorMessage = 'An error occurred.';

                    try {
                        const responseJson = JSON.parse(xhr.responseText);
                        if (responseJson.errors) {
                            let formattedErrors = `Error Code: ${responseJson.status}\n\n`;
                            for (const [key, messages] of Object.entries(responseJson.errors)) {
                                formattedErrors += `${key}:\n${messages.join('\n')}\n\n`;
                            }
                            errorMessage = formattedErrors.trim();
                        } else if (responseJson.title) {
                            errorMessage = `${responseJson.title}: ${responseJson.detail || 'No details provided'}`;
                        } else {
                            errorMessage = `Error: ${xhr.responseText}`;
                        }
                    } catch (e) {
                        errorMessage = `Error: ${xhr.responseText}`;
                    }
                    $("#loading-overlay").hide();
                    alert(errorMessage);
                }
            });
        });
    });
</script>