@page
@model FontEnd.Pages.AdminModel
@{
}

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Class">Add New Class</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/AddStudentClass">Add New Class</a>
</li>