

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="/Lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <style>
    </style>
</head>

<body>
    <h2>Student Profile</h2>
    <table>
        <thead>
            <tr>
                <th>StudentId</th>
                <th>Name</th>
                <th>Age</th>
                <th>IsRegularStudent</th>
                <th>Adress</th>
                <th>AdditionalInformation</th>
                <th>ViewScore</th>
            </tr>
        </thead>
        <tbody id="tb">
            
        </tbody>
    </table>
    <script>
        $(document).ready(() => {
            GetStudentProfile();
        })
        const GetStudentProfile = () => $.ajax({
            url: 'http://localhost:5224/api/Student/1',
            type: "GET",
            headers: {
                "Content-Type": "application/json",
            },
            success: (data) => { loadTableData(data), console.log(data) },
            error: () => { alert('Error loading student data'); }
        });
        const loadTableData = (data) => {
            $("#tb").empty();
            data.forEach(element => {
                
                    var html = `
                        <tr>
                            <td>${element.StudentId}</td>
                            <td>${element.Name}</td>
                            <td>${element.Age}</td>
                            <td>${element.IsRegularStudent}</td>
                            <td>${element.StudentDetail.Adress}</td>
                            <td>${element.StudentDetail.AdditionalInformation}</td>
                            <td id="${element.studentId}">
                                <button onclick="updateProduct(${(element.studentId)})" type="button" class="btn btn-outline-dark">Update</button>
                            </td>
                        </tr>`;
                $("#tb").append(html);
            });
        };
    </script>
</body>

</html>

