@{
    ViewBag.Title = "Admin Page";
}

<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Admin" asp-action="Class">Add New Class</a>
</li>


<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Admin" asp-action="AddStudentClass">Add Student Class</a>
</li>
