@model DBfirst.Models.Class
@{
    ViewData["Title"] = "Create New Class";
    var classes = ViewBag.Classes as List<DBfirst.Data.DTOs.ClassDTO>;
}

<h2>Create New Class</h2>

@if (classes != null && classes.Any())
{
    <table border="1" style="border-collapse: collapse; width: 80%; margin: 0 auto">
        <tr>
            <th style="padding: 8px; background-color: #f2f2f2;">ClassName</th>
            <th style="padding: 8px; background-color: #f2f2f2;">TeacherId</th>
            <th style="padding: 8px; background-color: #f2f2f2;">SubjectId</th>
        </tr>
        @foreach (var s in classes)
        {
            <tr>
                <td style="padding: 8px; text-align: center;">@s.ClassName</td>
                <td style="padding: 8px; text-align: center;">@s.TeacherId</td>
                <td style="padding: 8px; text-align: center;">@s.SubjectId</td>
            </tr>
        }
    </table>
}

<form asp-action="Class" method="post">
    ClassName: <input asp-for="ClassName" /><br />
    TeacherId: <input asp-for="TeacherId" /><br />
    SubjectId: <input asp-for="SubjectId" /><br />

    <input type="submit" value="Add" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
